<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    
    {{>navbar}}
    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
            
                <div class="row">
                    <!-- Left Side DIV -->
                    <div class="col-md-6 col-12 main_header_left">
                        
                        <picture>

                            <img src="./img/404.png" alt="404 error" class="img-fluid">
                        </picture>
                        
                    </div>
                    <!-- Right Side DIV -->
                    <div class="col-md-6 col-12 main_header_left">
                       <p>Welcome to the Weather App</p>
                        <h1><span class="text_clr">OOPS!! Page not found</span></h1>
                        <a href="/"><button>GO BACK</button></a>
                        
                    </div>
                </div>
           </div>
        </div>
    </div>


    <!-- Footer -->
    {{>footer}}
</body>
</html>